<a href="https://colab.research.google.com/github/Junio-Rodrigo-Silva/ADA1104_Banco_de_dados/blob/main/1104_Aula_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Seção 1: Introdução ao PostgreSQL e Conceitos Básicos

**Visão Geral do PostgreSQL**

PostgreSQL é um sistema avançado de gerenciamento de banco de dados relacional (SGBDR), conhecido por sua robustez e conformidade com padrões SQL. É uma escolha popular para aplicações web e de negócios devido à sua flexibilidade e recursos extensivos.

**O que você vai aprender?**
- Fundamentos do PostgreSQL
- Diferença entre DDL e DML
- Como o DDL e o DML são aplicados no contexto de bancos de dados

**Atividade: Análise de Dados de Alunos**
- Utilizaremos uma planilha com dados de alunos para entender melhor como o PostgreSQL pode ser utilizado na prática. A planilha inclui informações dos alunos coletadas na primeira aula.

**DDL e DML**

Imagine que você é um arquiteto de banco de dados. Assim como um arquiteto projeta a estrutura de uma casa, você usará o DDL para definir a estrutura do seu banco de dados. Você decidirá sobre a criação de tabelas, definição de campos e como eles se relacionam.

Por outro lado, o DML é como rearranjar os móveis em uma sala. Após a estrutura estar pronta, o DML é usado para inserir, atualizar, deletar e consultar os dados - manipulando-os conforme necessário.

**Comandos básicos**
- Data Definition Language (DDL)
  - Criando um Banco de Dados: CREATE DATABASE
  - Definindo Tabelas e Colunas: CREATE TABLE
  - Alterando Estruturas de Tabelas: ALTER TABLE
  - Excluindo Tabelas e Bancos de Dados: DROP TABLE, DROP DATABASE

- Data Manipulation Language (DML)
  - Inserindo Dados: INSERT INTO
  - Atualizando Dados Existentes: UPDATE
  - Deletando Dados: DELETE FROM
  - Consultando Dados: SELECT

**Aplicando DDL e DML: Um Estudo de Caso**

Utilizando os dados da planilha de alunos, vamos criar um banco de dados e tabelas para armazenar essas informações. Em seguida, realizaremos operações de inserção, atualização e consulta dos dados.

# Seção 2: DDL - Projetando a Estrutura do Banco de Dados

**Utilizando o DDL no PostgreSQL Através do DBeaver**

Vamos focar em como transformar a planilha de alunos em uma tabela de banco de dados, utilizando o DBeaver.

**O que você vai aprender?**

- Entender como criar a estrutura de um banco de dados no PostgreSQL usando DDL.
- Aprender a criar tabelas e definir colunas com base em dados de uma planilha.
- Atividade: Criando a Tabela Alunos
  - Usaremos a planilha de alunos para criar uma tabela no PostgreSQL que reflita sua estrutura e dados.

**Criando a Tabela no DBeaver**

- Instalação e Conexão ao PostgreSQL
  - Instale o DBeaver e conecte-se ao seu banco de dados PostgreSQL.

- Criação do Banco de Dados
```sql
CREATE DATABASE escola;

```
- Criação da Tabela Alunos
```sql
CREATE TABLE Alunos (
  Nome VARCHAR(255),
  Idade VARCHAR(50),
  IdadePadronizada VARCHAR(50),
  Estado VARCHAR(50),
  UF VARCHAR(5),
  Graduacao VARCHAR(255),
  Hobby VARCHAR(255),
  ProfissaoAtual VARCHAR(255),
  ProfissaoPretendida VARCHAR(255),
  SalarioPretendidoMin NUMERIC,
  SalarioPretendidoMax NUMERIC
);
```

- Importando a planilha para a tabela Alunos
```sql
COPY Alunos(Nome, Idade, IdadePadronizada, Estado, UF, Graduacao, Hobby, ProfissaoAtual, ProfissaoPretendida, SalarioPretendidoMin, SalarioPretendidoMax)
FROM 'C:\1104_alunos.csv'
DELIMITER ','
CSV HEADER;
```

- Adicionando a coluna ID
```sql
ALTER TABLE Alunos
ADD COLUMN ID SERIAL PRIMARY KEY;
```

- Alterando a Estrutura da Tabela
```sql
ALTER TABLE Alunos
ADD COLUMN Email VARCHAR(255);
```

- Excluindo uma Coluna
```sql
ALTER TABLE Alunos
DROP COLUMN Hobby;
```
- Excluindo a Tabela (Cuidado!)
```sql
DROP TABLE Alunos;
```

- Excluindo a Tabela com condicional
```sql
DROP TABLE IF EXISTS Alunos;
```

**Exercício Prático**

- Importação de Dados: Utilize o DBeaver para importar os dados da planilha para a tabela Alunos criada.

- Exploração de Dados: Execute consultas SQL para explorar os dados importados.

**Discussão em Sala**

Desafios no Design de Tabelas: Discuta como a estrutura da planilha influenciou o design da tabela e as decisões tomadas ao criar colunas e tipos de dados.

# Seção 3: DML - Manipulando Dados no Banco de Dados

**Utilizando DML no PostgreSQL**

Aprofunde-se no uso de DML (Data Manipulation Language) no PostgreSQL para manipular os dados da tabela Alunos que criamos anteriormente. Vamos focar em inserir, atualizar, deletar e consultar dados usando o DBeaver.

**O que você vai aprender?"

- Compreender como inserir, atualizar, deletar e consultar dados no PostgreSQL.
- Realizar operações de manipulação de dados usando comandos DML.
- Atividade: Manipulação de Dados da Tabela Alunos
  - Utilize os dados da planilha de alunos para inserir registros adicionais, atualizar informações, excluir registros e consultar dados específicos na tabela Alunos.

**Operações de DML no DBeaver**

- Inserção de Dados
```sql
INSERT INTO Alunos(Nome, Idade, IdadePadronizada, Estado, UF, Graduacao, Hobby, ProfissaoAtual, ProfissaoPretendida, SalarioPretendidoMin, SalarioPretendidoMax)
VALUES ('Felipe Yoshimoto', '30 e poucos', '30-39','SP', 'SP', 'Engenharia Naval', 'Analista de Dados', 'Vela', 'Jogador de Futebom', 100000, 1000000);
```

- Atualização de Dados
```sql
UPDATE Alunos
SET SalarioPretendidoMin = 100000, SalarioPretendidoMax = 2000000
WHERE Nome = 'Felipe Yoshimoto';
```

- Exclusão de Dados
```sql
DELETE FROM Alunos
WHERE Nome = 'Felipe Yoshimoto';
```
- Consulta de Dados
```sql
SELECT *,
SUBSTRING(IdadePadronizada, 1, POSITION('-' IN IdadePadronizada) - 1)::INTEGER AS IdadeMin,
SUBSTRING(IdadePadronizada, POSITION('-' IN IdadePadronizada) + 1, LENGTH(IdadePadronizada))::INTEGER AS IdadeMax
FROM Alunos;
```

**Exercício Prático**
- Manipulação de Dados: Realize várias operações DML na tabela Alunos, como adicionar novos alunos, mudar informações de alunos existentes e deletar registros.

**Discussão em Sala**
- Implicações das Operações DML: Discuta como as operações de DML afetam os dados na tabela Alunos e a importância de realizar essas operações corretamente.